 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.text-cs{
	font-size: 18px;
	text-align: center;
}
.text-cm{
	font-size: 18px;
    padding: 26px;
    border-radius: 10px;
    margin: 20px;
}
.text-sgtn{
	font-size: 18px;
	color: red;
}
.stick-bottom{
	bottom: 0;
	position: absolute;
	width: 100%;
}

@media screen and (max-width: 600px) {
    .text-cm{
		font-size: 18px;
	    padding: 26px;
	    border-radius: 10px;
	    margin: 20px 0px 0px -15px;
	}
	.stick-bottom {
	    bottom: 0;
	    width: 100%;
	}
}